
<h1 class="text-center mt-3 mb-5">Gestisci le Prenotazioni</h1>

<div class="container">

    <div class="btn-container mb-4 d-flex justify-content-end">
        <button class="btn btn-primary m-2">Aggiungi Corso</button>
        <button class="btn btn-danger m-2">Elimina Corso</button>
    </div>

    <table class="table table-bordered m-auto">
        <thead>
          <tr>
            <th scope="col">NomeCorso</th>
            <th scope="col">Nome</th>
            <th scope="col">Cognome</th>
            <th scope="col">Email</th>
            <th scope="col">Data</th>
            <th scope="col">Orario</th>
          </tr>
        </thead>
        
      </table>
</div>
