<!-- Modal -->
  <div class="modal fade" id="modalePrenotazione" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Prenota una Sessione di {{corso.nome}}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
          <div class="modal-body">
            <p>Compila i dati qui sotto per prenotare una sessione</p>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
              <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="floatingInput" placeholder="Inserisci il tuo nome" [formControl]="form.controls.nome" required=''>
                  <label for="floatingInput">Nome</label>
                  
              </div>
              <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="floatingInput" placeholder="Inserisci il tuo cognome" [formControl]="form.controls.cognome" required=''>
                  <label for="floatingInput">Cognome</label>
                  
              </div>
              <div class="form-floating mb-3">
                  <input type="email" class="form-control" id="floatingInput" placeholder="example@gmail.it" [formControl]="form.controls.email" required=''>
                  <label for="floatingInput">Email</label>
                  
              </div>
              
              <div class="modal-footer d-flex justify-content-between">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Chiudi</button>
                <button type="submit" class="btn btn-success">Prenota</button>
              </div>
            </form>
          </div>
      </div>
    </div>
  </div>