
<div class="card m-auto" style="width: 18rem;">
  <!-- <img src="..." class="card-img-top" alt="..."> Aggiungere immagine corso -->
  <div class="card-body m-auto">
    <h5 class="card-title text-center mt-2">{{corso().nome}}</h5>
    <p class="card-text">Descrizione: {{corso().descrizione}}</p>
    <p class="card-text">Istruttore: {{corso().istruttore.nome}}</p>
    <p class="card-text">Durata corso: {{corso().durata}}</p>
    <p class="card-text">Massimo persone: {{corso().capacitaMassima}}</p>
    <a href="#" class="btn btn-success w-100">Prenota</a>
  </div>
</div>




