
<div class="card m-auto" style="width: 18rem;">
  <div class="card-body m-auto">
    <div class="d-flex justify-content-between align-items-center">
      <h5 class="card-title text-center mt-2">{{ corso().nome }}</h5>
      <!-- Stellina per i preferiti -->
      <span 
        (click)="preferito(corso())" 
        [style.color]="isPreferito(corso()) ? 'gold' : 'gray'" 
        style="cursor: pointer; font-size: 1.5rem;"
      >
        ★
      </span>
    </div>
    <p class="card-text">Descrizione: {{ corso().descrizione }}</p>
    <p class="card-text">Istruttore: {{ corso().istruttore.nome }}</p>
    <p class="card-text">Durata corso: {{ corso().durata }}</p>
    <p class="card-text">Massimo persone: {{ corso().capacitaMassima }}</p>
    <a href="#" class="btn btn-success w-100">Prenota</a>
  </div>
</div>



